$main-color: #1c458a;

.Utilities_wrapper {
  height: 92vh;
  position: relative;
  width: 100vw;
  z-index: 0;
  background-color: #1c458a;
  // background-image: url("../../assets/images/plan.jpg");
  // background-size: cover;
  .utils-mode {
    position: fixed;
    top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    z-index: 2;

    .utils-mode_btn {
      // height: 40px;
      background: white;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
      font-family: "Reem Kufi";
      font-style: normal;
      text-transform: uppercase;
      font-size: 16px;
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px 0px;
      color: $main-color;

      .btn-content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
      }
    }

    :not(.btn-content > img, .btn-content > span):hover,
    .active {
      cursor: pointer;
      background: linear-gradient(275.06deg, #daa046 2.86%, #c48421 86.92%);
      font-style: normal;
      line-height: 24px;
      color: white;
    }
  }

  .img_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .utils_img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      // padding: 10px;
      // border-radius: 50px;
    }
  }

  .gallery_logo {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .Utilities_wrapper {
    .utils-mode {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      overflow: auto;
      height: 80px;
      overflow: -moz-scrollbars-none;
      -ms-overflow-style: none;

      

      .utils-mode_btn {
        .btn-content {
          font-size: 12px;
          line-height: 12px;
        }
      }

      :not(.btn-content > img, .btn-content > span):hover,
      .active {
        line-height: 12px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Utilities_wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    .utils-mode {
      top: 80%;
      display: grid;
      grid-template-columns: auto auto;
      overflow-y: auto;
      
      // width: 100%;


      .utils-mode_btn {
        .btn-content {
          font-size: 8px;
          // line-height: 12px;
        }
      }

      :not(.btn-content > img, .btn-content > span):hover,
      .active {
      }
    }

    .gallery_logo {
      display: flex;
      // width: 100%;
      // height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
    }
  }
}
